body {
  /*background-image: url("../cat.svg");*/
  /*background-size: 100% 100%;*/
}


svg {
  display: block;
  width: 500px;
  height: 500px;
  margin: auto;
  border: thick double navy;
  background-color: lightblue;
}

body {
  font-family: cursive;
}

circle {
  fill: lavender;
  stroke: navy;
  stroke-width: 5;
}
